/* Общие настройки */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Бежевый фон */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: #cccba3; /* Темнее бежевого */
    padding: 10px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
}

.navbar li a:hover {
    background-color: #bdb76b; /* Светлее бежевого */
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.service-table {
    width: 100%;
    border-collapse: collapse;
}

.service-table th,
.service-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.service-table tr:nth-child(even){
    background-color: #fafafa;
}

.service-table tr:hover{
    background-color: #fffbe6; /* Очень светлый оттенок бежевого */
}
